/* Dropdown Button */
.dropbtn {
    background-color: #ffffff;
    border: 2px solid black;
    /*color: white;*/
    padding: 16px;
    font-size: 16px;
    width: 500px;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #ffec1e;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: inherit;
}

/* Links inside the dropdown */
.dropdown-link {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    width: auto;
}

/* Change color of dropdown links on hover */
.dropdown-link:hover {background-color: #d6d6d6;}